<footer class="usa-footer site-footer" role="contentinfo">
  <div class="usa-footer__secondary-section">
    <div class="grid-container">
      <div class="grid-row grid-gap">
        <div class="usa-footer__logo mobile-lg:grid-col-1 mobile-lg:grid-gap-2">
          <div class="mobile-lg:grid-col-auto margin-top-2">
            <img class="usa-footer__logo-img" src="{{site.baseurl}}/assets/images/logos/ITVMO_small_logo.png" alt="ITVMO">
          </div>
        </div>
        <div class="usa-footer mobile-lg:grid-col-3">
          <div class="usa-footer__secondary-section">
              <div class="">
                <div class="">For more information, please visit the <a href="https://community.max.gov/x/AbtkgQ">ITVMO MAX</a></div>
              </div>
          </div>
      </div>
          <div class="usa-footer mobile-lg:grid-col-4">
            <div class="usa-footer__secondary-section">
                <div class="">
                  <div class="">
                    Join our mailing list to stay up to date on latest ITVMO news and projects<br>
                    <button class="usa-button">Subscribe</button>
                  </div>
                </div>
            </div>
        </div>
      <div class="usa-footer mobile-lg:grid-col-3">
        <div class="usa-footer__secondary-section">
          <div class="">
            <div class="">
              <address>
                <strong>CONTACT US</strong><br>
                <a href="mailto:itvmo@gsa.gov">itvmo@gsa.gov</a>
              </address>
            </div>
          </div>
        </div>
      </div>				  
       </div>
     </div>
  </div>
  </footer>
  