{% comment %}
Use this section to highlight key elements of your site. Some sites will only have two while others may have six to
eight.
{% endcomment %}


<section class="usa-graphic-list usa-section usa-section--dark">
  <div class="grid-container">
    <div class="usa-graphic-list__row grid-row grid-gap">
      <div class="usa-media-block tablet:grid-col">
        {% asset circle-124.png class="usa-media-block__img" alt="Alt text" %}
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading">I am an agency that wants market intelligence or information on a specific vendor.</h3>
          <p></p>
        </div>
      </div>
      <div class="usa-media-block tablet:grid-col">
        {% asset circle-124.png class="usa-media-block__img" alt="Alt text" %}
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading">I am an agency that wants to learn more about the small businesses that can meet my needs.</h3>
          <p></p>
        </div>
      </div>
    </div>
    <div class="usa-graphic-list__row grid-row grid-gap">
      <div class="usa-media-block tablet:grid-col">
        {% asset circle-124.png class="usa-media-block__img" alt="Alt text" %}
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading">I am an agency that wants help working and managing IT vendors.</h3>
          <p></p>
        </div>
      </div>
      <div class="usa-media-block tablet:grid-col">
        {% asset circle-124.png class="usa-media-block__img" alt="Alt text" %}
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading">I am a vendor or industry representative that wants to help agencies buy IT faster and smarter.</h3>
          <p></p>
        </div>
      </div>
    </div>
  </div>
</section>