{% comment %}
Use this section to highlight key elements of your site. Some sites will only have two while others may have six to
eight.
{% endcomment %}


<section class="usa-graphic-list usa-section highlight-bkgd">
  <div class="grid-container">
    <div class="grid-row usa-graphic-list__heading padding-bottom-3">
      <h3 class="margin-top-0 margin-bottom-0">How can we help?</h3>
    </div>
    <div class="usa-graphic-list__row grid-row grid-gap">
      <div class="usa-media-block tablet:grid-col">
        <!--<img src="{{site.baseurl}}/assets/images/logos/ITVMO_logocircle.png" class="usa-media-block__img icon-size" alt="itvmo logo">-->
        <!--{% asset circle-124.png class="usa-media-block__img" alt="Alt text" %}-->
        <div class="usa-media-block__body">
          <h4 class="usa-graphic-list media-subtitle">I want to learn more about the  IT market and  vendors</h4>
          <p>Are you looking for a specific solution or vendor product and don’t know where to start? The ITVMO compiles research on products and services that can help meet your agency’s need.</p>
          <a href="{{site.baseurl}}/vendor-intelligence/" aria-label="Learn more about Vendor Intelligence" class="usa-button">Learn More</a>
        </div>
      </div>
      <div class="usa-media-block tablet:grid-col">
        <!--<img src="{{site.baseurl}}/assets/images/logos/ITVMO_logocircle.png" class="usa-media-block__img icon-size" alt="itvmo logo">-->
        <!--{% asset circle-124.png class="usa-media-block__img" alt="Alt text" %}-->
        <div class="usa-media-block__body">
          <h4 class="usa-graphic-list media-subtitle">What Best-in-Class (BIC) solution is best for my agency’s needs?</h4>
          <p>The ITVMO works closely with the IT BIC solutions providers and has contracting subject matter experts that can help you find the contracting solution for you.</p>
          <a href="{{site.baseurl}}/working-with-bics/" aria-label="Learn more about Working with Best-in-Class" class="usa-button">Learn More</a>
        </div>
      </div>
    </div>
    <div class="usa-graphic-list__row grid-row grid-gap">
      <div class="usa-media-block tablet:grid-col">
        <!--<img src="{{site.baseurl}}/assets/images/logos/ITVMO_logocircle.png" class="usa-media-block__img icon-size" alt="itvmo logo">-->
        <!--{% asset circle-124.png class="usa-media-block__img" alt="Alt text" %}-->
        <div class="usa-media-block__body">
          <h4 class="usa-graphic-list media-subtitle">I am an agency that wants to engage more IT small businesses</h4>
          <p>Looking for resources and information on how the small business community can help your agency innovate and develop new solutions? The ITVMO connects agencies with small business opportunities.</p>
          <a href="{{site.baseurl}}/small-business-intelligence/" aria-label="Learn more about Small Business Intelligence" class="usa-button">Learn More</a>
        </div>
      </div>
      <div class="usa-media-block tablet:grid-col">
        <!--<img src="{{site.baseurl}}/assets/images/logos/ITVMO_logocircle.png" class="usa-media-block__img icon-size" alt="itvmo logo">-->
        <!--{% asset circle-124.png class="usa-media-block__img" alt="Alt text" %}-->
        <div class="usa-media-block__body">
          <h4 class="usa-graphic-list media-subtitle">I am an IT vendor that wants to help agencies buy faster and smarter</h4>
          <p>Are you an IT vendor interested in working with government agencies to solve IT problems? The ITVMO collaborates with the vendor community to solve problems for agencies.</p>
          <br>
          <a href="{{site.baseurl}}/vendors/" aria-label="Learn more about Industry Intelligence" class="usa-button">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</section>