{% comment %}
Use this section to highlight key elements of your site. Some sites will only have two while others may have six to
eight.
{% endcomment %}


<section class="usa-graphic-list usa-section highlight-bkgd">
  <div class="grid-container">
    <div class="grid-row usa-graphic-list__heading padding-bottom-3">
      <h3 class="margin-top-0 margin-bottom-0">How can we help?</h3>
    </div>
    <div class="usa-graphic-list__row grid-row grid-gap">
      <div class="usa-media-block tablet:grid-col">
        <!--<img src="{{site.baseurl}}/assets/images/logos/ITVMO_logocircle.png" class="usa-media-block__img icon-size" alt="itvmo logo">-->
        <!--{% asset circle-124.png class="usa-media-block__img" alt="Alt text" %}-->
        <div class="usa-media-block__body">
          <h4 class="usa-graphic-list media-subtitle">I want to learn more about the  IT market and  vendors</h4>
        </div>
      </div>
      <div class="usa-media-block tablet:grid-col">
        <!--<img src="{{site.baseurl}}/assets/images/logos/ITVMO_logocircle.png" class="usa-media-block__img icon-size" alt="itvmo logo">-->
        <!--{% asset circle-124.png class="usa-media-block__img" alt="Alt text" %}-->
        <div class="usa-media-block__body">
          <h4 class="usa-graphic-list media-subtitle">I am an agency that wants to engage more IT small businesses</h4>
        </div>
      </div>
    </div>
    <div class="usa-graphic-list__row grid-row grid-gap">
      <div class="usa-media-block tablet:grid-col">
        <!--<img src="{{site.baseurl}}/assets/images/logos/ITVMO_logocircle.png" class="usa-media-block__img icon-size" alt="itvmo logo">-->
        <!--{% asset circle-124.png class="usa-media-block__img" alt="Alt text" %}-->
        <div class="usa-media-block__body">
          <h4 class="usa-graphic-list media-subtitle">I need help working with and managing my current vendors</h4>
        </div>
      </div>
      <div class="usa-media-block tablet:grid-col">
        <!--<img src="{{site.baseurl}}/assets/images/logos/ITVMO_logocircle.png" class="usa-media-block__img icon-size" alt="itvmo logo">-->
        <!--{% asset circle-124.png class="usa-media-block__img" alt="Alt text" %}-->
        <div class="usa-media-block__body">
          <h4 class="usa-graphic-list media-subtitle">I am an IT vendor that wants to help agencies buy faster and smarter</h4>
        </div>
      </div>
    </div>
  </div>
</section>